
    <div class="bg-white border rounded p-0">

            @if (!string.IsNullOrEmpty(Title))
            {
                <div class="border-bottom p-1">
                    @Title
                </div>
            }

            @if (ChildContent != null)
            {
                <div class="p-1">
                    @ChildContent
                </div>
            }

    </div>


@code
{


    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

}
