

<div class="@ContainerCSS">
    <div class="@PageCSS">

        <div class="@HeaderCSS">
            <div class="row align-items-center">
                <div class="col">
                    @if (!string.IsNullOrEmpty(PageType))
                    {
                        <div class="page-pretitle">
                            @PageType
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Title))
                    {
                        <h2 class="page-title">
                            @Title
                        </h2>
                    }
                </div>

                @if (MenuContent != null)
                {
                    <div class="col-auto ms-auto">
                        @MenuContent
                    </div>
                }
            </div>
        </div>

        @if (ChildContent != null)
        { 
            <div class="p-3">
                @ChildContent
            </div>
        }

    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; } = "App Page";

    [Parameter]
    public string PageType { get; set; } = "App Page";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment MenuContent { get; set; }

    [Parameter]
    public string ContainerCSS { get; set; } = "container-fluid";

    [Parameter]
    public string PageCSS { get; set; } = "page bg-white border rounded";

    [Parameter]
    public string HeaderCSS { get; set; } = "bg-light border-bottom p-3";

}
