


<div class="@ContainerClass">
    <div class="@PageClass">

        <div class="bg-light border-bottom p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title">@Title.ToSecureString()</h2>

                    @if (!string.IsNullOrEmpty(SubTitle))
                    {
                        <div class="page-subtitle">
                            <div class="row">
                                <div class="col-auto">
                                    @SubTitle.ToSecureString()
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (HeaderContent != null)
                {
                    <div class="col-auto d-none d-md-flex">
                        @HeaderContent
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-7 p-3">
                @ChildContent
            </div>
            <div class="col-5 p-3">
                @ParentContent
            </div>
        </div>

        <div class="row">
            <div class="col-7 p-3">
                @ChildrenContent
            </div>
            <div class="col-5 p-3">
                @RelatedContent
            </div>
        </div>

        @if (FooterContent != null)
        {
            <div class="row">
                <div class="col-12">
                    @FooterContent
                </div>
            </div>
        }

    </div>
</div>


@code {


    [Parameter]
    public string Title { get; set; } = "Edit / View Page";

    [Parameter]
    public string SubTitle { get; set; } = "Edit / View Type";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment ParentContent { get; set; }

    [Parameter]
    public RenderFragment ChildrenContent { get; set; }

    [Parameter]
    public RenderFragment RelatedContent { get; set; }

    [Parameter]
    public RenderFragment FooterContent { get; set; }

    [Parameter]
    public RenderFragment HeaderContent { get; set; }

    [Parameter]
    public string ContainerClass { get; set; } = "container-fluid";

    [Parameter]
    public string PageClass { get; set; } = "page bg-white border rounded";
}
