.nav-header-item {

}

details summary::-webkit-details-marker {
    display: none;
}

.bg-light {
    color: inherit !important;
}

a:active {
    color: inherit !important;
    text-decoration: none !important;
    background-color: rgba(100,110,120,.3) !important;
}

.dropdown-item {
    background-color: rgba(100,110,120,.06);
    border-top: 1px solid #eee;
}

summary {
    position: relative;
    outline: none;
}

    summary::marker {
        color: transparent;
    }

    summary::after {
        content: "+";
        position: absolute;
        color: inherit !important;
        font-size: 1.4em;
        right: 1em;
        top: .2em;
        transition: all 0.5s;
    }

details[open] summary::after {
    color: inherit !important;
    transform: translate(0,0) rotate(45deg);
    
}
