@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@try
{
    <AuthorizeView>
        <Authorized>
            <div class="col-auto">
                @*<a href="Identity/Account/Manage">Hello, @context.User.Identity.Name</a>
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>*@

                <a href="Identity/Account/Register">Register</a>
                <a href="Identity/Account/Login">Login</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="col-auto">
                <a href="Identity/Account/Register">Register</a>
                <a href="Identity/Account/Login">Login</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
}
catch (Exception ex)
{
    <p>@ex.Message</p>
}



@code {

}
