@inject IJSRuntime JS
@inject ISQLiteService db

<div class="card">
    <div class="card-header">
        <h3 class="h3">Database Migration</h3>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <label class="form-label">Name</label>
                <input type="text"
                       @bind-value="Name"
                       class="@InputCSS"
                       @bind-value:event="oninput" />
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label class="form-label">Exists the database?</label>
                <p class="@( (DoesDbExists) ? "text-success" : "text-danger" )">
                    <strong>@( (DoesDbExists) ? "Database exists" : "does not exist" )</strong>

                    @if (DoesDbExists == true)
                    {
                        <strong><i class="ms-2 fas fa-check text-success"></i></strong>
                    }
                    else
                    {
                        <strong><i class="ms-2 fas fa-exclamation-circle text-danger"></i></strong>
                    }

                </p>
            </div>

            @if (File.Exists(Name + ".db"))
            {

                <div class="col-6">
                    <label class="form-label">Migrate database</label>
                    <button type="button" class="btn btn-success w-100"
                            @onclick="MigrateDatabase">
                        Migrate existing database
                    </button>
                </div>

            }
        </div>

    </div>
    <div class="card-footer bg-light">
        <div class="row">
            <div class="col-auto"></div>
            <div class="col"></div>
            <div class="col-auto">

            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Name { get; set; } = "ELEMENTs";

    [Parameter]
    public bool DoesDbExists { get; set; } = false;

    [Parameter]
    public string InputCSS { get; set; } = "form-control";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        CheckDatabaseExists();
    }

    private void CheckDatabaseExists()
    {
        try
        {
            if (File.Exists(Name + ".db"))
            {
                DoesDbExists = true;
            }
            else
            {
                DoesDbExists = false;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }
    private void MigrateDatabase()
    {
        try
        {
            if (string.IsNullOrEmpty(Name))
            {
                JS.InvokeVoidAsync("alert", "Please enter a name");
                return;
            }

            if (File.Exists(Name + ".db"))
            {
                IFactoryStatusInfo status = db.MigrateDatabase(Name);

                if (status.Status == "OK")
                {
                    JS.InvokeVoidAsync("alert", "Database migrated successfully");
                }
                else
                {
                    JS.InvokeVoidAsync("alert", "Migration failed. " + status.Message);
                }
            }

            CheckDatabaseExists();
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }


}
