<div class="page">
    <div class="sidebar bg-dark">
        @Sidebar
    </div>

    <div class="main">
        <div class="top-row px-4">
            @Header
        </div>

        <div class="content px-4">
            @ChildContent
        </div>

        @if (Footer != null)
        {
            <div>
                @Footer
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment Sidebar { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

}