
@if (Columns != null)
{
    @if (Columns.Count() >= 1)
    {
        <div class="@ControlCSS">

            @foreach (IColumn col in Columns)
            {
                <div class="@col.ColumnCSSClass.ToSecureString()">
                    <strong>@col.Title.ToSecureString()</strong>
                </div>
            }
        </div>
    }
}

@code {

    [Parameter]
    public List<IColumn> Columns { get; set; } = new List<IColumn>();

    [Parameter]
    public string ControlCSS { get; set; } = "row g-0 p-2 text-primary pe-5 border-bottom";

    protected override void OnParametersSet()
    {
        try
        {
            if (Columns != null)
            {
                if (Columns.Count() >= 1)
                {

                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Fehler: " + ex.Message);
        }

        base.OnParametersSet();
    }
}
