
@if (Columns != null)
{
    @if (Columns.Count() >= 1)
    {
        <div class="row g-0 py-2 border-bottom overflow">

            <div class="col-auto px-2">
                <strong>ID</strong>
            </div>

            <div class="col px-2">
                <strong>Titel</strong>
            </div>

            @foreach (IColumn col in Columns)
            {
                <div class="@col.ColumnCSSClass.ToSecureString()">
                    <strong>@col.Title.ToSecureString()</strong>
                </div>
            }
        </div>
    }
}

@code {

    [Parameter]
    public List<IColumn> Columns { get; set; } = new List<IColumn>();

    protected override void OnParametersSet()
    {
        try
        {
            if (Columns != null)
            {
                if (Columns.Count() >= 1)
                {

                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Fehler: " + ex.Message);
        }

        base.OnParametersSet();
    }
}
