


@if (Items != null)
{
    @if (Items.Count >= 1)
    {
        <ul class="@ListCSS">

            @foreach (string entry in Items)
            {
                <li class="@ItemCSS">@entry</li>
            }

        </ul>
    }
}


@code {

    [Parameter]
    public List<string> Items { get; set; } = new List<string>();

    [Parameter]
    public string ListCSS { get; set; } = "bg-white list-group"; // list-group-flush 

    [Parameter]
    public string ItemCSS { get; set; } = "list-group-item p-2";
}
