

<nav style="@(((IsSticky == true) ? " position: sticky; top: 0px; z-index:1; " : ""))" class="@SubNavBarCSS">
    <ul>
        <li><a href="/" class="active">Category</a></li>
        <li><a href="/website">Main</a></li>
        <li><a href="/navigation">Related</a></li>
        <li><a href="/navigation">Child</a></li>
        <li><a href="/navigation">Parallel</a></li>
    </ul>
</nav>

@code {

    [Parameter]
    public string SubNavBarCSS { get; set; } = "bg-light border-bottom px-5";

    [Parameter]
    public bool IsSticky { get; set; } = false;

}
