

<nav>
    <ul>
        <li><a href="/" class="active">Category</a></li>
        <li><a href="/website">Main</a></li>
        <li><a href="/navigation">Related</a></li>
        <li><a href="/navigation">Child</a></li>
        <li><a href="/navigation">Parallel</a></li>
    </ul>
</nav>

@code {

}
