

<nav>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/website">Website</a></li>
        <li><a href="/navigation">Navigation</a></li>
    </ul>
</nav>

@code {

}
