


<span class="@ControlCSS">

    @if (Value != null)
    {
        @Value.ToSecureString()
    }

    @if (ChildContent != null)
    {
        @ChildContent
    }

</span>

@code {

    /// <summary>
    /// Defines or sets a CSS class that controls the CSS style of the control. The default value is: 'badge bg-primary'
    /// </summary>
    [Parameter]
    public string ControlCSS { get; set; } = "badge bg-primary";

    /// <summary>
    /// Defines or sets the value of the Value property of the control.
    /// The property is initialized with "string.Empty".
    /// </summary>
    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
