
    <span class="@ControlCSS"        
          style="background-image: url(@ImageUrl)"></span>

@code {

    /// <summary>
    /// Defines or sets a CSS class that controls the CSS style of the control. The default value is: form-control
    /// </summary>
    [Parameter]
    public string ControlCSS { get; set; } = "avatar";

    /// <summary>
    /// Defines or sets the Url of the Image control.
    /// The property is initialized with "string.Empty".
    /// </summary>
    [Parameter]
    public string ImageUrl { get; set; } = string.Empty;


    /// <summary>
    /// Reacts when the Value property of the control is changed by keyboard input.
    /// Returns the value of the control as a string. If this is not NULL.
    /// If the Value property is NULL, the event is not thrown.
    /// Info: If intensive operations or accesses to the hardware are implemented with this event,
    /// delays may occur due to the roundtrip in the user interface.
    /// </summary>
    [Parameter]
    public EventCallback<string> ImageUrlChanged { get; set; }
    private async void onValueChanged()
    {
        // Raise Event
        try
        {
            await ImageUrlChanged.InvokeAsync(ImageUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }

    }



}
