{
  "Title": "Navigation",
  "Text": "January 2022",
  "Items": [
    {
      "ID": "9f183038-f543-463e-b6eb-bfc6a892fc21",
      "Position": 1,
      "Link": "/bootstrap",
      "Title": "Bootstrap",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "d4505298-adc9-4306-b87b-18163f4f6941",
      "Position": 2,
      "Link": "/tabler",
      "Title": "Tabler.IO",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "657cb869-11ca-4270-9371-f75f9656a82e",
      "Position": 3,
      "Link": "/view",
      "Title": "Views \u0026 Container",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "7104488d-3a5a-41b4-8ff6-7cdbae64cff6",
      "Position": 4,
      "Link": "/layouts",
      "Title": "Page Layouts",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "72cb5ddd-c33c-4fbc-a55a-e2af10cfb264",
      "Position": 5,
      "Link": "/analytics",
      "Title": "Analytics",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "9cbbf6d2-5efd-4eb1-974b-c4dc6a9ceb53",
      "Position": 3,
      "Link": "/navigation",
      "Title": "Navigation",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "7ba22039-a7dd-41c8-abf7-36e76ef9a1ef",
      "Position": 6,
      "Link": "/lists",
      "Title": "List \u0026 Media",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "efadbcdf-054d-493e-92dd-ed1a2970e339",
      "Position": 8,
      "Link": "/search",
      "Title": "Search",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "07272cff-4c40-4840-bbf3-f0a8d09abc83",
      "Position": 7,
      "Link": "/help",
      "Title": "Help",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "a898b81e-c9f6-4950-be43-1831f1145e46",
      "Position": 9,
      "Link": "/security",
      "Title": "Security",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "effea829-3260-4086-b95b-9a793deb0dc2",
      "Position": 10,
      "Link": "/terms",
      "Title": "Terms",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "51cb1b3e-494d-4bf1-9775-5d4b462004ba",
      "Position": 1,
      "Link": "/interfaces",
      "Title": "Interfaces",
      "Icon": "",
      "Items": [
        {
          "ID": "f900b9ec-3927-4ee0-a0fd-577b9e5d2eed",
          "Position": 2,
          "Link": "/navigation",
          "Title": "Navigation",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "83e3a3c5-e3f2-4b69-ba1b-1b255b0288ee",
          "Position": 0,
          "Link": "/",
          "Title": "Home",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "587c706c-271c-415f-a596-9be31c77e052",
          "Position": 3,
          "Link": "/layouts",
          "Title": "PageLayouts",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "d31f13c0-9098-4d12-97f5-dc2c80490127",
          "Position": 4,
          "Link": "/view",
          "Title": "Views \u0026 Container",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "bc8a7a47-fe32-4ca0-b777-d7eb6e8a036e",
          "Position": 5,
          "Link": "/analytics",
          "Title": "Analytics",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "6f6ea9a9-5783-4161-a674-4878bb9fe8be",
          "Position": 6,
          "Link": "/lists",
          "Title": "Lists",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "9e2b2317-453c-4580-839c-d56eeb83173c",
          "Position": 7,
          "Link": "/search",
          "Title": "Search",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "53ca846a-e867-40fc-be3b-4def6cd36482",
          "Position": 8,
          "Link": "/help",
          "Title": "Help",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "c685b3cf-7285-4aa7-81f5-c744b326fe32",
          "Position": 9,
          "Link": "/security",
          "Title": "Security",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "8c4d3c75-3383-4dbb-a2e4-c3f004d3705f",
          "Position": 10,
          "Link": "/terms",
          "Title": "Terms",
          "Icon": "",
          "Items": []
        },
        {
          "ID": "fd71da53-4bc6-4b78-8a5a-4d6bfc84a7eb",
          "Position": 1,
          "Link": "/database",
          "Title": "Database",
          "Icon": "",
          "Items": []
        }
      ]
    },
    {
      "ID": "cbe97042-884d-4684-8137-a49f26c7097b",
      "Position": 1,
      "Link": "/list",
      "Title": "List",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "ee6c08f3-0844-4448-86d7-c13efcce74e7",
      "Position": 1,
      "Link": "/edit",
      "Title": "Edit",
      "Icon": "",
      "Items": []
    }
  ]
}