{
  "Title": "Navigation",
  "Text": "January 2022",
  "Items": [
    {
      "ID": "9f183038-f543-463e-b6eb-bfc6a892fc21",
      "Position": 1,
      "Link": "/bootstrap",
      "Title": "Bootstrap",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "d4505298-adc9-4306-b87b-18163f4f6941",
      "Position": 2,
      "Link": "/tabler",
      "Title": "Tabler.IO",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "657cb869-11ca-4270-9371-f75f9656a82e",
      "Position": 3,
      "Link": "/view",
      "Title": "Views \u0026 Container",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "7104488d-3a5a-41b4-8ff6-7cdbae64cff6",
      "Position": 4,
      "Link": "/layouts",
      "Title": "Page Layouts",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "72cb5ddd-c33c-4fbc-a55a-e2af10cfb264",
      "Position": 5,
      "Link": "/analytics",
      "Title": "Analytics",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "9cbbf6d2-5efd-4eb1-974b-c4dc6a9ceb53",
      "Position": 3,
      "Link": "/navigation",
      "Title": "Navigation",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "7ba22039-a7dd-41c8-abf7-36e76ef9a1ef",
      "Position": 6,
      "Link": "/lists",
      "Title": "List \u0026 Media",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "efadbcdf-054d-493e-92dd-ed1a2970e339",
      "Position": 8,
      "Link": "/search",
      "Title": "Search",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "07272cff-4c40-4840-bbf3-f0a8d09abc83",
      "Position": 7,
      "Link": "/help",
      "Title": "Help",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "a898b81e-c9f6-4950-be43-1831f1145e46",
      "Position": 9,
      "Link": "/security",
      "Title": "Security",
      "Icon": "",
      "Items": []
    },
    {
      "ID": "effea829-3260-4086-b95b-9a793deb0dc2",
      "Position": 10,
      "Link": "/terms",
      "Title": "Terms",
      "Icon": "",
      "Items": []
    }
  ]
}