{
  "Title": "Terms of Service",
  "LastChange": "Last Update: January 2022",
  "Text": "The following terms of service (these \u0027Terms of Service\u0027), govern your access to and use of the website and mobile application, including any content, functionality and services offered on or through www.lorem-ipsum.xyz.com or the mobile application (the \u0027Site\u0027) by xyz. (Address) as applicable. Company name and its subsidiaries are collectively referred hereto as \u0027we\u0027 or \u0027us\u0027 and \u0027you\u0027 or \u0027user\u0027 means you as an user of the Site. The following terms of service (these \u0027Terms of Service\u0027), govern your access to and use of the website and mobile application, including any content, functionality and services offered on or through www.lorem-ipsum.xyz.com or the mobile application (the \u0027Site\u0027) by xyz. (Address) as applicable. Company name and its subsidiaries are collectively referred hereto as \u0027we\u0027 or \u0027us\u0027 and \u0027you\u0027 or \u0027user\u0027 means you as an user of the Site. "
}