body
{
}

.bg-light {
    color:inherit !important;
}

label {
    font-weight: 600 !important;
    font-size: small !important;
    display: block;
    margin-bottom: 0.15rem !important;
    margin-top: 0.5rem !important;
}

.hover:hover {
    background-color: var(--tblr-gray-400);
}

.pointer:hover {
    cursor: pointer;
}