
@if (InterfaceRepository != null)
{
    @if (InterfaceRepository.IsInitialized)
    {
        <div class="border bg-white p-3">

            <div class="row">

                @foreach (EditField field in InterfaceRepository.Fields)
                {
                    <div class="@field.ColumnCSSClass">
                        <EditComponent Field="@field" EditRepository="@EditRepository" />
                    </div>
                }

            </div>
        </div>
    }
}
else
{
    <p>Interface Repository is empty</p>
}


@code {

    [Parameter]
    public IEditInterfaceRepository InterfaceRepository { get; set; }

    [Parameter]
    public IEditItemRepository EditRepository { get; set; }



}
