body
{
}

.bg-light {
    color:inherit !important;
}

label {
    font-weight: 600 !important;
    font-size: small !important;
    display: block;
    margin-bottom: 0.15rem !important;
    margin-top: 0.5rem !important;
    padding-left: 0.25rem;
}

.hover {
    padding-left: 0.25rem;
    border-radius: 3px;
}
.hover:hover {
    background-color: var(--tblr-gray-300);
}

.pointer:hover {
    cursor: pointer;
    
}

.min-edit-height 
{
    line-height: 1.2;
}

.hr-text {
  /*  display: flex;
    align-items: center;*/
    margin: 1rem 0;
 /*   font-size: .625rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.4;
    color: #626976;
    height: 1px;*/
}