

@if(DTO != null)
{
    <ELEMENTS.Controls.Layouts.ContainerLayout Title="Metadaten" 
                    PaddingCSS="" HeaderCSS="border-bottom px-3 py-2" ContentCSS="p-2"
                    BackgroundCSS="bg-white" Border="true" >
        <div class="row g-0 align-items-center border-bottom">
            <div class="col-3 p-1">
                <small>
                    <strong>Autor:in</strong>
                </small>
            </div>
            <div class="col-1 p-1">
                <small>
                    <i class="far fa-user"></i>
                </small>
            </div>
            <div class="col p-1">
                <small><span>@DTO.Creator.ToSecureString()</span></small>
            </div>
            <div class="col-1 p-1">
                <small>
                    <i class="far fa-calendar-alt"></i>
                </small>
            </div>
            <div class="col p-1">
                <small><span>@DTO.CreatedAt.ToSecureDateTime().ToShortDateString()</span></small>
            </div>
        </div>

        <div class="row g-0 align-items-center">
            <div class="col-3 p-1">
                <small>
                    <strong>Editor:in</strong>
                </small>
            </div>
            <div class="col-1 p-1">
                <small>
                    <i class="far fa-user"></i>
                </small>
            </div>
            <div class="col p-1">
                <small>
                    <span>@DTO.Modifier.ToSecureString()</span>
                </small>
            </div>
            <div class="col-1 p-1">
                <small>
                    <i class="far fa-calendar-alt"></i>
                </small>
            </div>
            <div class="col p-1">
                <small>
                    <span>@DTO.ModifiedAt.ToSecureDateTime().ToShortDateString()</span>
                </small>
            </div>
        </div>

    </ELEMENTS.Controls.Layouts.ContainerLayout>
}



@code {

    [Parameter]
    public IDTO DTO { get; set; }

}
