@page "/bootstrap"

<div class="row">
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Display>this is a Bootstrap Display 3</ELEMENTS.Controls.Text.Display>
        <ELEMENTS.Controls.Text.Heading>this is a Bootstrap Heading h3</ELEMENTS.Controls.Text.Heading>
        <ELEMENTS.Controls.Text.Label>this is a Bootstrap Label</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.Span>this is a Bootstrap span, based on a HTML span</ELEMENTS.Controls.Text.Span>
        <ELEMENTS.Controls.Text.Lead>this is a Bootstrap Lead based on a HTML p</ELEMENTS.Controls.Text.Lead>

        <ELEMENTS.Controls.Text.Label>Badge</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.Badge>this is a Bootstrap Badge</ELEMENTS.Controls.Text.Badge>

        <ELEMENTS.Controls.Text.Label>Progress Bar with 33%</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.ProgressBar Value="33" />

        <ELEMENTS.Controls.Text.Label>Waiting Progress</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.WaitingProgress />
    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Label>Text Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.TextBox Value="this is a Bootstrap input based TextBox" />

        <ELEMENTS.Controls.Text.Label>Text Area</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.TextArea Value="this is a Bootstrap textarea" />

        <ELEMENTS.Controls.Text.Label>Integer Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.IntegerBox Value="123" />

        <ELEMENTS.Controls.Text.Label>Decimal Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.DecimalBox Value="123.45m" />

        <ELEMENTS.Controls.Text.Label>Money Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.MoneyBox Value="123.45m" />

        <ELEMENTS.Controls.Text.Label>Date Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.DateBox />

        <ELEMENTS.Controls.Text.Label>Time Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.TimeBox />
        
        <ELEMENTS.Controls.Text.Label>DateTime Box</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Input.DateTimeBox />

    </div>
    <div class="col p-3">

    </div>
</div>

@code {

}
