@page "/database"

<div class="row">
    <div class="col p-3">
        <ELEMENTS.Controls.Database.DatabaseManager />
    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Database.DatabaseMigrator />
    </div>
</div>

<div class="mt-2 mb-2 border-bottom"></div>

<div class="row">
    <div class="col p-3">
        <ELEMENTS.Controls.Database.CurrentDatabaseVersion />
    </div>
    <div class="col p-3">
        <ELEMENTS.Controls.Data.ImportData />
    </div>
</div>

@code {

}
