@page "/layouts"


<div class="row">
    <div class="col">
        <h3 class="h1 text-primary">DEFAULT Page Layouts for Apps and Websites</h3>
    </div>
</div>

<div class="row">
    <div class="col p-3 border-end">



        <ELEMENTS.Controls.Layouts.ContainerLayout>
            <ChildContent>
                <h3>Empty Page Layout</h3>
            </ChildContent>
            <RelatedContent>
                <button type="button" class="btn btn-primary btn-sm">hinzufügen...</button>
            </RelatedContent>
        </ELEMENTS.Controls.Layouts.ContainerLayout>



    </div>

    <div class="col p-3 border-end">



        <ELEMENTS.Controls.Layouts.ContainerLayout Border="true">
            <h3>Border Page Layout</h3>
        </ELEMENTS.Controls.Layouts.ContainerLayout>



    </div>

    <div class="col p-3">



        <ELEMENTS.Controls.Layouts.ContainerLayout Border="true" Rounded="true">
            <h3>Border Rounded Page Layout</h3>
        </ELEMENTS.Controls.Layouts.ContainerLayout>



    </div>
</div>

<ELEMENTS.Controls.Devider.TextDevider Value="" />

<div class="row">
    <div class="col p-3 border-end">



        <ELEMENTS.Controls.Layouts.ContainerLayout BackgroundCSS="bg-primary">
            <h3>Empty Page Layout</h3>
        </ELEMENTS.Controls.Layouts.ContainerLayout>


    </div>

    <div class="col p-3 border-end">



        <ELEMENTS.Controls.Layouts.ContainerLayout Border="true"
                                              BackgroundCSS="bg-white" HeaderCSS="bg-light border-bottom p-3">
            <ChildContent>
                <h3>Border Page Layout</h3>
            </ChildContent>
            <RelatedContent>
                <button type="button" class="btn btn-primary btn-sm">hinzufügen...</button>
            </RelatedContent>
        </ELEMENTS.Controls.Layouts.ContainerLayout>



    </div>

    <div class="col p-3">



        <ELEMENTS.Controls.Layouts.ContainerLayout Border="true" Rounded="true" BackgroundCSS="bg-light">
            <h3>Border Rounded Page Layout</h3>
        </ELEMENTS.Controls.Layouts.ContainerLayout>


    </div>
</div>

<ELEMENTS.Controls.Devider.TextDevider Value="" />




<div class="row">
    <div class="col p-3 border-end">



        <ELEMENTS.Controls.Layouts.ContainerLayout BackgroundCSS="bg-primary" Page="true">
            <ChildContent>
                <h3>Empty Page Layout</h3>
                <h3>Page Size</h3>
            </ChildContent>
            <MenuContent>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm m-1">hinzufügen...</button>
                        <button type="button" class="btn btn-secondary btn-sm m-1">bearbeiten...</button>
                        <button type="button" class="btn btn-danger btn-sm m-1">löschen...</button>
                    </div>
                </div>
            </MenuContent>
            <FooterContent>
                <div class="row">
                    <div class="col-4">
                        <span>left</span>
                    </div>
                    <div class="col-4">
                        <span>center</span>
                    </div>
                    <div class="col-4">
                        <span>right</span>
                    </div>
                </div>
            </FooterContent>
        </ELEMENTS.Controls.Layouts.ContainerLayout>


    </div>

    <div class="col p-3 border-end">



        <ELEMENTS.Controls.Layouts.ContainerLayout Border="true" Page="true"
                                              BackgroundCSS="bg-white"
                                              HeaderCSS="bg-light border-bottom p-3"
                                              FooterCSS="bg-light border-top p-3">
            <ChildContent>
                <h3>Border Page Layout</h3>
                <h3>Page Size</h3>
            </ChildContent>
            <RelatedContent>
                <button type="button" class="btn btn-primary btn-sm">hinzufügen...</button>
            </RelatedContent>
            <MenuContent>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm m-1">hinzufügen...</button>
                        <button type="button" class="btn btn-secondary btn-sm m-1">bearbeiten...</button>
                        <button type="button" class="btn btn-danger btn-sm m-1">löschen...</button>
                    </div>
                </div>
            </MenuContent>
            <FooterContent>
                <div class="row">
                    <div class="col-4">
                        <span>left</span>
                    </div>
                    <div class="col-4">
                        <span>center</span>
                    </div>
                    <div class="col-4">
                        <span>right</span>
                    </div>
                </div>
            </FooterContent>
        </ELEMENTS.Controls.Layouts.ContainerLayout>



    </div>

    <div class="col p-3">



        <ELEMENTS.Controls.Layouts.ContainerLayout Border="true" Rounded="true" Page="true"
                                              BackgroundCSS="bg-light"
                                              FooterCSS="bg-light border-top p-3">
            <ChildContent>
                <h3>Border Rounded Page Layout</h3>
                <h3>Page Size</h3>
            </ChildContent>
            <MenuContent>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm m-1">hinzufügen...</button>
                        <button type="button" class="btn btn-secondary btn-sm m-1">bearbeiten...</button>
                        <button type="button" class="btn btn-danger btn-sm m-1">löschen...</button>
                    </div>
                </div>
            </MenuContent>
            <FooterContent>
                <div class="row">
                    <div class="col-4">
                        <span>left</span>
                    </div>
                    <div class="col-4">
                        <span>center</span>
                    </div>
                    <div class="col-4">
                        <span>right</span>
                    </div>
                </div>
            </FooterContent>
        </ELEMENTS.Controls.Layouts.ContainerLayout>


    </div>
</div>

<ELEMENTS.Controls.Devider.TextDevider Value="" />












@code {

}
