@page "/list"
@inject ISQLiteService sql
@using ELEMENTS.Infrastructure

<ELEMENTS.Controls.Layouts.ListPageLayout Title="Liste" SubTitle="ItemType">
    <HeaderContent>
        <ELEMENTS.Controls.Collection.AddItem Title="Eintrag hinzufügen"
                                              FieldHeader="Bezeichnung" Repository="@AddRepo" OnOKClicked="LoadItems" />
    </HeaderContent>
    <ChildContent>
        <ELEMENTS.Controls.Collection.ItemsCollection Items="ItemsRepo.Items" Context="IDTO">
            <Header>
                <h2>ItemsCollection (Template Engine)</h2>
            </Header>
            <RowTemplate>
                <div class="p-2 border-bottom">
                    <a href="@( "/edit/" + IDTO.ItemType.ToSecureString() + "/" + IDTO.GUID.ToSecureString() )">
                        <div class="row">
                            <div class="col-auto">@IDTO.ID.ToSecureString()</div>
                            <div class="col">@IDTO.Title.ToSecureString()</div>
                        </div>
                    </a>
                </div>
            </RowTemplate>
            <Footer>
                <strong>ItemsCollection (Template Engine)</strong>
            </Footer>
        </ELEMENTS.Controls.Collection.ItemsCollection>
    </ChildContent>
</ELEMENTS.Controls.Layouts.ListPageLayout>

@code {
    private IAddItemRepository AddRepo = new AddItemRepository();
    private IItemsRepository ItemsRepo = new ItemsRepository();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (AddRepo != null)
        {
            AddRepo.Service = sql;
        }
        if (ItemsRepo != null)
        {
            ItemsRepo.Service = sql;
            ItemsRepo.Load();
        }
    }

    private void LoadItems()
    {
        if (ItemsRepo != null)
        {
            ItemsRepo.Load();
        }
    }
}
