@page "/navigation"


<div class="row">
    <div class="col p-3">

        <ELEMENTS.Controls.Navigation.NavigationEditor Repository="@Repository" />

    </div>
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Breadcrumbpath" />
        <ELEMENTS.Controls.Navigation.BreadCrumbPath Items="@( new List<BreadCrumbPathElement>()
                                                               {
                                                                new BreadCrumbPathElement() { Title = "Google", Link = "https://www.google.com" },
                                                                new BreadCrumbPathElement() { Title = "Google", Link = "https://www.google.com" },
                                                                new BreadCrumbPathElement() { Title = "Google", Link = "https://www.google.com" }
                                                               }
                                                     )" />

        <ELEMENTS.Controls.Text.Label Value="Website Navigation" />
        <ELEMENTS.Controls.Navigation.WebsiteNavigation Repository="@Repository" />


        <ELEMENTS.Controls.Text.Label Value="Hierarchical Navigation" />
        <ELEMENTS.Controls.Navigation.HierarchicalNavigation Repository="@Repository" />

    </div>
</div>

@code {

    private string title = "Navigation";
    private string lastchange = "January 2022";

    [Parameter]
    public INavigationRepository Repository { get; set; }


    // Events 
    protected override void OnInitialized()
    {
        base.OnInitialized();

        try
        {
            NavigationRepository repository = NavigationRepository.Load();

            repository.Title = (string.IsNullOrEmpty(repository.Title)) ? title : repository.Title;
            repository.Text = (string.IsNullOrEmpty(repository.Text)) ? lastchange : repository.Text;

            Repository = repository;
        }
        catch (Exception ex)
        {
            Console.WriteLine("FAIL: " + ex.Message);
        }
    }
}
