@page "/security/{View}"



@if (!string.IsNullOrEmpty(View))
{
    @if (View.ToLower().Contains("login"))
    {
        <div class="page page-center">
            <div class="container-tight">
                <ELEMENTS.Controls.Security.Login />

            </div>
        </div>
    }

    @if (View.ToLower().Contains("register") ||
View.ToLower().Contains("registration"))
    {
        <div class="page page-center">
            <div class="container-tight">
                <ELEMENTS.Controls.Security.Registration />

            </div>
        </div>
    }

    @if (View.ToLower().Contains("change"))
    {
        <div class="page page-center">
            <div class="container-tight">


                <ELEMENTS.Controls.Security.ChangePassword />
            </div>
        </div>
    }


    @if (View.ToLower().Contains("request") ||
    View.ToLower().Contains("access"))
    {
        <div class="page page-center">
            <div class="container-tight">

                <ELEMENTS.Controls.Security.RequestAccess />

            </div>
        </div>
    }


    @if (View.ToLower().Contains("newpassword"))
    {
        <div class="page page-center">
            <div class="container-tight">

                <ELEMENTS.Controls.Security.RequestNewPassword />

            </div>
        </div>
    }

    @if (View.ToLower().Contains("setpassword"))
    {
        <div class="page page-center">
            <div class="container-tight">

                <ELEMENTS.Controls.Security.SetNewPassword />

            </div>
        </div>
    }

    @if (View.ToLower().Contains("permission"))
    {
        <div class="page page-center">
            <div class="container-tight">

                <ELEMENTS.Controls.Security.Permissions PermissionItems="@( new List<Permission>() {
                                            new Permission { ID = "123", Title = "Permission A", Value= false },
                                            new Permission { ID = "456", Title = "Permission B", Value= true },
                                            new Permission { ID = "789", Title = "Permission C", Value= false }
                                            })" />

            </div>
        </div>
    }


}

@code {

    [Parameter]
    public string View { get; set; } = string.Empty;

}
