@page "/tabler"

<div class="row">
    <div class="col p-3">
        <ELEMENTS.Controls.Text.Display>this is a Tabler.IO Display 3</ELEMENTS.Controls.Text.Display>
        <ELEMENTS.Controls.Text.Heading>this is a Tabler.IO Heading h3</ELEMENTS.Controls.Text.Heading>
        <ELEMENTS.Controls.Text.Label>this is a Tabler.IO Label</ELEMENTS.Controls.Text.Label>
        <ELEMENTS.Controls.Text.Span>this is a Tabler.IO span, based on a HTML span</ELEMENTS.Controls.Text.Span>
        <ELEMENTS.Controls.Text.Lead>this is a Tabler.IO Lead based on a HTML p</ELEMENTS.Controls.Text.Lead>
        <ELEMENTS.Controls.Text.Badge>this is a Tabler.IO Badge</ELEMENTS.Controls.Text.Badge>
        <ELEMENTS.Controls.Text.ProgressBar Value="33" />
        <ELEMENTS.Controls.Text.WaitingProgress />
    </div>
    <div class="col p-3">

    </div>
    <div class="col p-3">

    </div>
</div>

@code {

}
