@page "/view"


<div class="row">
    <div class="col">
        <h3 class="h1">Container and Views</h3>
    </div>
</div>


<div class="row">
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Card" />
        <ELEMENTS.Controls.Area.Card Title="Title" Text="this is the text of the card" SubTitle="Subtitle" />

        <ELEMENTS.Controls.Text.Label Value="Toast" />
        <ELEMENTS.Controls.Popup.Toast @ref="theTOAST" Title="Show Toast" />
        <button class="btn btn-secondary" @onclick="ShowToast">Show Toast</button>

        <ELEMENTS.Controls.Popup.Modal Title="Modal Dialog"
                    OnCancelClicked="@( e => { Value = e.ToString(); })"
                    OnOKClicked="@( e => { Value = e.ToString(); })">
            <h1>this is the content of the modal</h1>
        </ELEMENTS.Controls.Popup.Modal>

    </div>
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Control Container" />
        <ELEMENTS.Controls.Area.ControlContainer Title="Title">
            <h1>This is a child Control</h1>
        </ELEMENTS.Controls.Area.ControlContainer>

        <ELEMENTS.Controls.Text.Label Value="Menu Popup" />
        <ELEMENTS.Controls.Popup.MenuPopup />

    </div>
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Component Container" />
        <ELEMENTS.Controls.Area.ComponentContainer>
            <Header>
                <h3>Header</h3>
            </Header>
            <ChildContent>
                <h1>This is a child Control</h1>
            </ChildContent>
            <Footer>
                <h4>Footer</h4>
            </Footer>
        </ELEMENTS.Controls.Area.ComponentContainer>

        <ELEMENTS.Controls.Text.Label Value="Popup" />
        <ELEMENTS.Controls.Popup.Popup />
    </div>
</div>








@code {
    private ELEMENTS.Controls.Popup.Toast theTOAST;
    private async Task ShowToast()
    {
        if (theTOAST != null)
        {
            await theTOAST.ShowToast("Hallo Welt", "this is a message");
        }
    }

    [Parameter]
    public string Value { get; set; } = "Inhalt...";
}
