@page "/view"








<div class="row">
    <div class="col">
        <h3 class="h1">Container and Views</h3>
    </div>
</div>


<div class="row">
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Card" />
        <ELEMENTS.Controls.Area.Card Title="Title" Text="this is the text of the card" SubTitle="Subtitle" />

    </div>
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Control Container" />
        <ELEMENTS.Controls.Area.ControlContainer Title="Title" >
            <h1>This is a child Control</h1>
        </ELEMENTS.Controls.Area.ControlContainer>
    </div>
    <div class="col p-3">

        <ELEMENTS.Controls.Text.Label Value="Component Container" />
        <ELEMENTS.Controls.Area.ComponentContainer>
            <Header>
                <h3>Header</h3>
            </Header>
            <ChildContent>
                <h1>This is a child Control</h1>
            </ChildContent>
            <Footer>
                <h4>Footer</h4>
            </Footer>
        </ELEMENTS.Controls.Area.ComponentContainer>
    </div>
</div>








@code {

}
